.form-content {
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.form-items label {
    color: #333333; 
    font-weight: bold; 
}

.form-items input,
.form-items select,
.form-items textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #cccccc; 
    border-radius: 5px; 
}

.form-button button {
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 5px;
    background-color: #007bff; 
    color: #ffffff; 
    cursor: pointer; 
}

.form-button button:hover {
    background-color: #0056b3;
}
