{% extends 'static_base.html' %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{ user.nombre }} {{ user.apellido }}</span>
                <span class="text-black-50">{{ user.correo }}</span>
                <span class="text-black-50">{{ user.tipo_usuario }}</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Editar Perfil</h4>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Nombre</label><input type="text" class="form-control" name="nombre" value="{{ user.nombre }}"></div>
                        <div class="col-md-6"><label class="labels">Apellido</label><input type="text" class="form-control" name="apellido" value="{{ user.apellido }}"></div>
                        <div class="col-md-6"><label class="labels" for="rut">RUT</label><input type="text" id="rut" class="form-control" name="rut" value="{{ user.rut }}"></div>
                        <div class="col-md-6"><label class="labels" for="direccion">Dirección</label><input type="text" id="direccion" class="form-control" name="direccion" value="{{ user.direccion }}"></div>
                        <div class="col-md-6"><label class="labels" for="telefono">Teléfono</label><input type="tel" id="telefono" class="form-control" name="telefono" value="{{ user.telefono }}"></div>
                        <div class="col-md-6"><label class="labels" for="tipo_usuario">Tipo de Usuario</label><input type="text" id="tipo_usuario" class="form-control" name="tipo_usuario" value="{{ user.tipo_usuario }}"></div>
                        <div class="col-md-6"><label class="labels">Correo electrónico</label><input type="email" class="form-control" name="correo" value="{{ user.correo }}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
