{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block css_pages %}
    {% endblock %}
    {% block title %}
    <title>Bienvenido a Inmueblito</title>
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">Inmueblitos</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home'%}?next={{request.path}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">arriendos</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item nav-link text-light">Usuario: {{ user.get_username }}</li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'profile'%}?next={{request.path}}">Perfil</a></li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'logout'%}?next={{request.path}}">Cerrar sesión</a></li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'login'%}?next={{request.path}}">Iniciar sesión</a></li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'register' %}">Registrate</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </nav>
{% endblock%}
{% block header %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-custom">
        <div class="col-md-5 p-lg-5 mx-auto my-5 content">
            <h1 class="display-4 font-weight-normal">Portal Inmueblito</h1>
            <p class="lead font-weight-normal">El sitio ideal para publicar tus propiedades o encontrar inmuebles en alquiler</p>
            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}
{%block descriptions%}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Cómo Arrendar tu Propiedad</h2>
        <p>Aprende los pasos esenciales para arrendar tu propiedad de manera efectiva. Desde la preparación del inmueble hasta la firma del contrato, te guiamos en cada etapa para garantizar un proceso de arriendo sin complicaciones </p>
        <p><a class="btn btn-secondary" href="#" role="button">Más detalles &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Consejos para Inquilinos</h2>
        <p>Encuentra los mejores consejos para inquilinos que buscan un nuevo hogar. Descubre cómo evaluar propiedades, negociar contratos de arrendamiento y mantener una buena relación con el propietario</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Beneficios de Ser Dueño de un Inmueble</h2>
        <p>Explora las ventajas de ser propietario de un inmueble. Desde la generación de ingresos pasivos hasta el aumento del valor del patrimonio, descubre por qué invertir en bienes raíces puede ser una excelente decisión financiera.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>
  </div>
{% endblock%}
{% block content %}
{% endblock content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>